/* Filename - css/board.css */

.board {
   width: 30vw;
   height: 60vh;
   background-color: var(--board-background);
   display: flex;
   align-items: flex-start;
   flex-direction: row;
   flex-wrap: wrap;
   border: 5px solid var(--border-color);
   border-radius: 20px;
}

.input {
   height: 33.33%;
   width: 33.33%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: whitesmoke;
   font-family: 'poppins', sans-serif;
   font-style: italic;
   font-weight: 700;
   font-size: 7rem;
   cursor: pointer;
}

.input-1 {
   border-right: var(--border-thickness) solid var(--border-color);
   border-bottom: var(--border-thickness) solid var(--border-color);
}

.input-2 {
   border-right: var(--border-thickness) solid var(--border-color);
   border-bottom: var(--border-thickness) solid var(--border-color);
}

.input-3 {
   border-bottom: var(--border-thickness) solid var(--border-color);
}

.input-4 {
   border-right: var(--border-thickness) solid var(--border-color);
   border-bottom: var(--border-thickness) solid var(--border-color);
}

.input-5 {
   border-right: var(--border-thickness) solid var(--border-color);
   border-bottom: var(--border-thickness) solid var(--border-color);
}

.input-6 {
   border-bottom: var(--border-thickness) solid var(--border-color);
}

.input-7 {
   border-right: var(--border-thickness) solid var(--border-color);
}

.input-8 {
   border-right: var(--border-thickness) solid var(--border-color);
}

@media screen and (max-width: 576px) {
   .board {
      width: 80vw;
   }
}
